.presentation-second-title{
    font-size: 5em;
    font-weight: 700;
    margin: 0;
    color: red;
    background: red;
    background: -moz-linear-gradient(top, #303bba 35%, #180376 100%);
    background: -webkit-linear-gradient(top, #303bba 35%,#180376 100%);
    background: -ms-linear-gradient(top, #303bba 35%,#180376 100%);
    background: linear-gradient(to bottom, #303bba 35%,#180376 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.presentation-desc-title{
  font-size: 3em;
  font-weight: 500;
  margin: 0;
  color: red;
  background: red;
  text-align: center;
  background: -moz-linear-gradient(top, #ba3030 35%, #760303 100%);
  background: -webkit-linear-gradient(top, #ba3030 35%,#760303 100%);
  background: -ms-linear-gradient(top, #ba3030 35%,#760303 100%);
  background: linear-gradient(to bottom, #ba3030 35%,#760303 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.desc-text{
  color: whitesmoke;
  font-size: 1.3em;
  text-align: center;
  font-weight: 300;
}

/* CSS */
.daily-own {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  margin-top: 10px;
  height: 60px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.daily-own:active,
.daily-own:hover {
  outline: 0;
}

.daily-own span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.daily-own:hover span {
  background: none;
}

@media (min-width: 768px) {
  .daily-own {
    font-size: 24px;
    min-width: 100%;
    
  }
}
.todo-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

input[type=text]{
    font-size: 1.1rem;
    font-weight: 400;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid #2d9fd9;
     width: 300px;
     height: 40px;
     padding-left: 10px;
    }
    
input[type=text]:focus {
     outline: none;
     border: 1px solid #a0d18c;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 0.4rem 0.9rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  // background-color: #f2f2f2;
  // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

li button {
  margin-left: 1rem;
}
li .due-date {
  font-size: 1rem;
  color: gray;
  margin-top: 0.5rem;
}